#gridcontainer{
  display: flex;
  justify-content: center;
  margin: 20px 0; 
  width: 100%; 

  h2 {
    margin: 20px 0 20px;

    a{ 
      font-size: 16px;
    }
  }
   
  .griditem{
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 30px;
      max-width: 350px;
      text-align: center;
  }
  
  .postimage{
      margin: 0 0 10px 0;
  }

  .quick-review-button {
    width: 250px;
    height: 46px;
    padding: 0;
  }
  
  .price-and-quantity-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  
    .price-and-currency {
  
        h5 {
            margin: 0;
        }
    }
  }

}


.single {
  .single-post-thumbnail {
      // max-width: 300px !important;
      text-align: center;
  }
}

.posts-archive {

  .post {
      padding: 0 30px 0 30px;
  }

  .post-thumbnail{
      img {
          max-width: 280px !important;
      }
  } 
}

.entry-description {
    display: flex; 
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.add-to-cart-button-container {
  display: flex;

  .quantity {
    width: 150px;
  }

  .add-to-cart-button {
    margin-left: 30px;
    width: 250px;
  }
}